*{
    margin: 0;
    padding: 0;
}

section.input{
    padding-top: 100px;
    margin-bottom: -22px;
}
input#input {
    text-align: center;
}
h2{
    text-align: center;
    font-size: 36px;
}
 nav .brand-logo {
        font-size: 1rem;
 }
@media (min-width: 600px) {
    nav .brand-logo {
        font-size: 2rem;
    }

}


.form_wrap{
    display: flex;
    justify-content: center;
}

.input_wrap{
    margin-top: 2rem;
}


section.data {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}
@media (max-width: 600px) {
body{
background-color: #101b32;
color: white;
}
p.def{
color: #fff !important;
}
input#input{
color: red !important;
}
}
.loading{
    display: none;
}

section.data p.def{
    font-size: 20px;
    color: #2D3748;
    line-height: 1.6;
}

span.suggested {
    margin-right: 10px;
    background: #B794F4;
    color: white;
    padding: 2px 10px;
    border-radius: 4px;
    margin-top: 5px;
    display: inline-block;
}
button#search {
    margin-top: 16px;
}
.audio{
    margin-top: 20px;
}

.audio audio {
    outline: none;
}

form#auto {
    text-align: center;
}

footer{
    margin-top: 100%;
}




